#cajaformulario
{
	background:rgba(0,0,150,.2);
	box-shadow: #999999 5px 5px 10px;
	float:left;
	padding: 20px;
	border: 1px solid #999999;
	border-radius: 5px;
}
#cajadatos
{
	background:rgba(0,150,0,.2);
	box-shadow: #999999 5px 5px 10px;
	float: left;
	width: 400px;
	margin-left: 20px;
	padding: 20px;
	border: 1px solid #999999;
	border-radius: 5px;
}
#clave, #texto
{
	width: 200px;
}
#cajadatos > div
{
	padding: 5px;
	border-bottom: 1px solid #999999;
}